---
http_interactions:
- request:
    method: get
    uri: https://chromedriver.storage.googleapis.com/LATEST_RELEASE_80.0.3987
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 13 Feb 2020 19:33:45 GMT
      Etag:
      - '"492ef7f4a53ab59e654c8ed8f7fb63ca"'
      X-Goog-Generation:
      - '1581622425572055'
      X-Goog-Metageneration:
      - '1'
      X-Goog-Stored-Content-Encoding:
      - identity
      X-Goog-Stored-Content-Length:
      - '13'
      Content-Type:
      - text/plain
      Content-Language:
      - en
      X-Goog-Hash:
      - crc32c=wvNAZQ==
      - md5=SS739KU6tZ5lTI7Y9/tjyg==
      X-Goog-Storage-Class:
      - STANDARD
    body:
      encoding: UTF-8
      string: 80.0.3987.106
  recorded_at: Wed, 25 Mar 2020 21:38:10 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos?authorization=token%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1585330607'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 27 Mar 2020 16:48:15 GMT
- request:
    method: get
    uri: https://api.github.com/user/followers?authorization=token%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1585330607'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 27 Mar 2020 16:48:15 GMT
- request:
    method: get
    uri: https://api.github.com/user/following?authorization=token%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1585330606'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 27 Mar 2020 16:48:15 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/user/repos?authorization=token%207e65d1f5c1dfa5363281b1c75ccda384bbe1bf53
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 7e65d1f5c1dfa5363281b1c75ccda384bbe1bf53
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1585331872'
      Etag:
      - W/"73e8cf54098afebf120ce1d4d15987b7"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?authorization=token+7e65d1f5c1dfa5363281b1c75ccda384bbe1bf53&page=2>;
        rel="next", <https://api.github.com/user/repos?authorization=token+7e65d1f5c1dfa5363281b1c75ccda384bbe1bf53&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":228639319,"node_id":"MDEwOlJlcG9zaXRvcnkyMjg2MzkzMTk=","name":"futbol","full_name":"danielpselph/futbol","private":false,"owner":{"login":"danielpselph","id":52847706,"node_id":"MDQ6VXNlcjUyODQ3NzA2","avatar_url":"https://avatars2.githubusercontent.com/u/52847706?v=4","gravatar_id":"","url":"https://api.github.com/users/danielpselph","html_url":"https://github.com/danielpselph","followers_url":"https://api.github.com/users/danielpselph/followers","following_url":"https://api.github.com/users/danielpselph/following{/other_user}","gists_url":"https://api.github.com/users/danielpselph/gists{/gist_id}","starred_url":"https://api.github.com/users/danielpselph/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danielpselph/subscriptions","organizations_url":"https://api.github.com/users/danielpselph/orgs","repos_url":"https://api.github.com/users/danielpselph/repos","events_url":"https://api.github.com/users/danielpselph/events{/privacy}","received_events_url":"https://api.github.com/users/danielpselph/received_events","type":"User","site_admin":false},"html_url":"https://github.com/danielpselph/futbol","description":null,"fork":true,"url":"https://api.github.com/repos/danielpselph/futbol","forks_url":"https://api.github.com/repos/danielpselph/futbol/forks","keys_url":"https://api.github.com/repos/danielpselph/futbol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/danielpselph/futbol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/danielpselph/futbol/teams","hooks_url":"https://api.github.com/repos/danielpselph/futbol/hooks","issue_events_url":"https://api.github.com/repos/danielpselph/futbol/issues/events{/number}","events_url":"https://api.github.com/repos/danielpselph/futbol/events","assignees_url":"https://api.github.com/repos/danielpselph/futbol/assignees{/user}","branches_url":"https://api.github.com/repos/danielpselph/futbol/branches{/branch}","tags_url":"https://api.github.com/repos/danielpselph/futbol/tags","blobs_url":"https://api.github.com/repos/danielpselph/futbol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/danielpselph/futbol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/danielpselph/futbol/git/refs{/sha}","trees_url":"https://api.github.com/repos/danielpselph/futbol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/danielpselph/futbol/statuses/{sha}","languages_url":"https://api.github.com/repos/danielpselph/futbol/languages","stargazers_url":"https://api.github.com/repos/danielpselph/futbol/stargazers","contributors_url":"https://api.github.com/repos/danielpselph/futbol/contributors","subscribers_url":"https://api.github.com/repos/danielpselph/futbol/subscribers","subscription_url":"https://api.github.com/repos/danielpselph/futbol/subscription","commits_url":"https://api.github.com/repos/danielpselph/futbol/commits{/sha}","git_commits_url":"https://api.github.com/repos/danielpselph/futbol/git/commits{/sha}","comments_url":"https://api.github.com/repos/danielpselph/futbol/comments{/number}","issue_comment_url":"https://api.github.com/repos/danielpselph/futbol/issues/comments{/number}","contents_url":"https://api.github.com/repos/danielpselph/futbol/contents/{+path}","compare_url":"https://api.github.com/repos/danielpselph/futbol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/danielpselph/futbol/merges","archive_url":"https://api.github.com/repos/danielpselph/futbol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/danielpselph/futbol/downloads","issues_url":"https://api.github.com/repos/danielpselph/futbol/issues{/number}","pulls_url":"https://api.github.com/repos/danielpselph/futbol/pulls{/number}","milestones_url":"https://api.github.com/repos/danielpselph/futbol/milestones{/number}","notifications_url":"https://api.github.com/repos/danielpselph/futbol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/danielpselph/futbol/labels{/name}","releases_url":"https://api.github.com/repos/danielpselph/futbol/releases{/id}","deployments_url":"https://api.github.com/repos/danielpselph/futbol/deployments","created_at":"2019-12-17T14:53:49Z","updated_at":"2020-02-12T08:54:00Z","pushed_at":"2020-01-09T16:00:49Z","git_url":"git://github.com/danielpselph/futbol.git","ssh_url":"git@github.com:danielpselph/futbol.git","clone_url":"https://github.com/danielpselph/futbol.git","svn_url":"https://github.com/danielpselph/futbol","homepage":null,"size":517,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":3,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":241470921,"node_id":"MDEwOlJlcG9zaXRvcnkyNDE0NzA5MjE=","name":"monster_shop_1911","full_name":"iEv0lv3/monster_shop_1911","private":false,"owner":{"login":"iEv0lv3","id":10391857,"node_id":"MDQ6VXNlcjEwMzkxODU3","avatar_url":"https://avatars1.githubusercontent.com/u/10391857?v=4","gravatar_id":"","url":"https://api.github.com/users/iEv0lv3","html_url":"https://github.com/iEv0lv3","followers_url":"https://api.github.com/users/iEv0lv3/followers","following_url":"https://api.github.com[...]
[...]
