---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?affiliation=owner&page=1&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 28aa6a5c8b11d3b910955d2631b0e1c46a355851
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1585630583'
      Etag:
      - W/"b0b0bcdc12292a0a60481bf76a6ff6e4"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?affiliation=owner&page=2&per_page=5>; rel="next",
        <https://api.github.com/user/repos?affiliation=owner&page=9&per_page=5>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":236615438,"node_id":"MDEwOlJlcG9zaXRvcnkyMzY2MTU0Mzg=","name":"adopt_dont_shop","full_name":"Will-Meighan/adopt_dont_shop","private":false,"owner":{"login":"Will-Meighan","id":54870554,"node_id":"MDQ6VXNlcjU0ODcwNTU0","avatar_url":"https://avatars3.githubusercontent.com/u/54870554?v=4","gravatar_id":"","url":"https://api.github.com/users/Will-Meighan","html_url":"https://github.com/Will-Meighan","followers_url":"https://api.github.com/users/Will-Meighan/followers","following_url":"https://api.github.com/users/Will-Meighan/following{/other_user}","gists_url":"https://api.github.com/users/Will-Meighan/gists{/gist_id}","starred_url":"https://api.github.com/users/Will-Meighan/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Will-Meighan/subscriptions","organizations_url":"https://api.github.com/users/Will-Meighan/orgs","repos_url":"https://api.github.com/users/Will-Meighan/repos","events_url":"https://api.github.com/users/Will-Meighan/events{/privacy}","received_events_url":"https://api.github.com/users/Will-Meighan/received_events","type":"User","site_admin":false},"html_url":"https://github.com/Will-Meighan/adopt_dont_shop","description":null,"fork":true,"url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop","forks_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/forks","keys_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/teams","hooks_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/hooks","issue_events_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/issues/events{/number}","events_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/events","assignees_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/assignees{/user}","branches_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/branches{/branch}","tags_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/tags","blobs_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/statuses/{sha}","languages_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/languages","stargazers_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/stargazers","contributors_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/contributors","subscribers_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/subscribers","subscription_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/subscription","commits_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/contents/{+path}","compare_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/merges","archive_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/downloads","issues_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/issues{/number}","pulls_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/pulls{/number}","milestones_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/milestones{/number}","notifications_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/labels{/name}","releases_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/releases{/id}","deployments_url":"https://api.github.com/repos/Will-Meighan/adopt_dont_shop/deployments","created_at":"2020-01-27T23:07:10Z","updated_at":"2020-02-02T23:28:23Z","pushed_at":"2020-02-02T23:28:20Z","git_url":"git://github.com/Will-Meighan/adopt_dont_shop.git","ssh_url":"git@github.com:Will-Meighan/adopt_dont_shop.git","clone_url":"https://github.com/Will-Meighan/adopt_dont_shop.git","svn_url":"https://github.com/Will-Meighan/adopt_dont_shop","homepage":null,"size":289,"stargazers_count":0,"watchers_count":0,"language":"HTML","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":238049110,"node_id":"MDEwOlJlcG9zaXRvcnkyMzgwNDkxMTA=","name":"adopt_dont_shop_paired","full_name":"Will-Meighan/adopt_dont_shop_paired","private":false,"owner":{"login":"Will-Meighan","id":54870554,"node_id":"MDQ6VXNlcjU0ODcwNTU0","avatar_url":"https://avatars3.githubusercontent.com/u/54870554?v=4","gravatar_id":"","url":"https://api.github.com/users/Will-Meighan","html_url":"https://github.com/Will-Meighan","followers_url":"https://api.github.com/users/Will-Meighan/followers","fol[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 28aa6a5c8b11d3b910955d2631b0e1c46a355851
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1585630[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 28aa6a5c8b11d3b910955d2631b0e1c46a355851
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1585630[...]
